[submodule "app"]
	path = app
	url = git@github.com:edu-ide/app.git
[submodule "submodule"]
	path = submodule
	url = git@github.com:edu-ide/submodule.git
[submodule "pear-landing-page"]
	path = pear-landing-page
	url = git@github.com:edu-ide/landing-page.git
[submodule "documentation"]
	path = documentation
	url = git@github.com:edu-ide/documentation.git
